body{
    background-image: url('C:\Users\merca\Desktop\react-movie-app\movie-app\src\images\images.png');
    background-size: cover;
    

}


.open-sans-custom {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.thread{
  cursor: pointer;
}

.thread:hover{
  background-color: #e2e2e2;
}